body{
    
    background-color: rgb(98, 116, 116);
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 
}

.btn-container .btn{
    padding: 1rem 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border: none;
    box-shadow: -2px 2px 5px black;
    border-radius: .5rem;
    cursor: pointer;
    text-transform: uppercase;
    filter: opacity(.7);
}
.btn-container .btn:hover{
    filter: opacity(1);
}

.btn-container .btn-primary{
    background-color: rgb(57, 155, 153);
}
.btn-container .btn-danger{
    background-color: rgb(163, 59, 62);
}